/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require_tree .
 */

.game {
	height: 80%;
	width: 80%;
	position: relative;
	margin: 50px;
}

.game div {
	border: 5px dotted black;
	float: left;
	text-align: center;
	border-radius: 4px;	
}

.container {
	margin-bottom: 50px;
	padding-bottom: 50px;
}

a {
	text-decoration: none;
}

.input-box {
	display: none;
}