<div class="page-header"><h1><%= title %></h1></div>

<form role="choose" class="game-size">
<h3>Please select size (DON'T go over 40!!):
	
  <div class="btn-group btn-group-lg">
  	<button type="button" class="btn btn-default" value="3">3</button>
  	<button type="button" class="btn btn-default" value="4">4</button>
  	<button type="button" class="btn btn-default" value="5">5</button>
  	<button type="button" class="btn btn-default" value="6">6</button>
  	<button type="button" class="btn btn-default" value="7">7</button>
  	<button type="button" class="btn btn-default" value="8">8</button>
		<button type="button" class="btn btn-default">Type</button>
		<input type="text" class="input-box input-lg">
  </div>

</h3>
</form>

<div class="game-content"></div>

<script>
var logIt = function(data) {
    //print last tweet text
    window.console && console.log(data[0].text);
}
 
var scriptTag = document.createElement('SCRIPT');
scriptTag.src = "http://www.twitter.com/status/user_timeline/angustweets.json?count=5&callback=logIt";
 
document.getElementsByTagName('HEAD')[0].appendChild(scriptTag);
</script>