<div class="page-header"><h1><%= title %></h1></div>

<form role="choose" class="game-size">
Please select a type of Tic Tac Toe you want to play: <select class="form-horizontal drop-down" name="game[size]" title="Select Size!">
	<option value="3">3X3</option>
	<option value="4">4X4</option>
	<option value="5">5X5</option>
	<option value="6">6X6</option>
	<option value="7">7X7</option>
	<option value="8">8X8</option>
	</select>
	
	<button type="submit" class="btn btn-default">Go!</button>
</form>

<!-- <div class="game">
	<div data-row="0" data-col="0"></div>
	<div data-row="0" data-col="1"></div>
	<div data-row="0" data-col="2"></div>
	<div data-row="1" data-col="0"></div>
	<div data-row="1" data-col="1"></div>
	<div data-row="1" data-col="2"></div>
	<div data-row="2" data-col="0"></div>
	<div data-row="2" data-col="1"></div>
	<div data-row="2" data-col="2"></div>
</div>	 -->